/*.header__item--figure {
  width: 33px;
  height: 18px;
  background: #FD7858;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.round {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 1px;
  
 
}
*/
.wrapper {
  width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  width: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__logo {
  width: 70px;
  height: 71px;
  background-color: aquamarine;
}

.nav__menu {
  height: 1000px;
  background-color: burlywood;
}

.nav__img {
  padding-bottom: 10px;
  padding-top: 29px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #FFFFFF;
}

.nav__link--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1298px;
  height: 71px;
  background-color: cadetblue;
}

.header__stactics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1298px;
  height: 71px;
  background-color: #5fa062;
}

.main__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 704px;
  height: 266px;
  background-color: darkorange;
}

.main__revenue {
  width: 264px;
  height: 266px;
  background-color: gold;
}

.main__graphics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 467px;
  height: 508px;
  background-color: #853365;
}

.task {
  width: 501px;
  height: 245px;
  background-color: #62c2df;
}

.progress {
  width: 241px;
  height: 245px;
  background-color: #90d422;
}

.shipments {
  width: 241px;
  height: 245px;
  background-color: #181b13;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box1 {
  width: 271px;
  height: 500px;
  background-color: #a12e64;
}

.box2 {
  width: 271px;
  height: 300px;
  background-color: #0e1602;
}
/*# sourceMappingURL=main2.css.map */